.root {
  padding-left: 3rem;
  padding-right: 3rem;
}
.container {
  transition: scale .3s ease-in-out, border-radius .6s ease-in-out;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.cardImage {
  text-align: center;
  padding-right: 1rem;
}
.text {
  text-transform: uppercase;
}